body {
    font-family: 'Inter', sans-serif; 
    font-size: 14px; 
    background-color: #5988FF; 
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #FD98FB;
    font-size: 36px; 
    text-decoration-color: #D6FF6B; 
}

h2 {
    color: #D6FF6B; 
    font-size: 28px;
}

p {
    font-size: 16px;
    color: #FFFFFF; 
}

ul {
    color: #FFFFFF;
    font-size: 16px;
    list-style-type: disc;
}

li {
    margin: 5px 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #FD98FB;
}
