<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Tekst Zanimowany!</h1>
    <script src="https://cdn.logwork.com/widget/countdown.js"></script>
<a href="https://logwork.com/countdown-timer" class="countdown-timer" data-style="circles" data-timezone="Europe/Warsaw" data-language="pl" data-date="2024-10-26 00:00" data-background="#615f5f">🚀 Moje urodziny</a>
</body>
</html>